/*=====================mobile first page layout================*/
/*-------------------------
  -------------------------
  -------------------------
  -------------------------
  -------------------------
  -------------------------
  -------------------------
*/

/*===============desktop page layout============*/
/*---------------------------
  ---------------------------
  ---------------------------
  ---------------------------
  ---------------------------
  ---------------------------
  ---------------------------
*/
/* =============CSS reset=================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration:none;
}
/*===========================================================*/

/*=============globals===================*/
:root {
    --col-pri-0:#492b7c;
    --col-pri-1:#e0f0ea;
    --col-pri-2:#f7a400;
    --col-pri-3:#27104e;
    --col-pri-4:#361d32;
    --col-pri-5:#072448;
    --col-pri-6:#272643;
    --col-pri-7:#8a00d4;
    --col-pri-8:#ffa822;
    --col-txt1-0:#301551;
    --col-txt1-1:#95adbe;
    --col-txt1-2:#3a9efd;
    --col-txt1-3:#64379f;
    --col-txt1-4:#543c52;
    --col-txt1-5:#54d2d2;
    --col-txt1-6:#ffffff;
    --col-txt1-7:#d527b7;
    --col-txt1-8:#134e6f;
    --col-txt2-0:#fff29c;
    --col-txt2-1:#3c2a4d;
    --col-txt2-2:#1a1b4b;
    --col-txt2-3:#75e8e7;
    --col-txt2-4:#f1e8e6;
    --col-txt2-5:#ff6150;
    --col-txt2-6:#2c698d;
    --col-txt2-7:#e3e3e3;
    --col-txt2-8:#dee0e6;
    --col-acc1-0:#ed8a0a;
    --col-acc1-1:#574f7d;
    --col-acc1-2:#3e4491;
    --col-acc1-3:#9854cb;
    --col-acc1-4:#f55951;
    --col-acc1-5:#ffcb00;
    --col-acc1-6:#c9d5ff;
    --col-acc1-7:#f782c2;
    --col-acc1-8:#ff6150;
    --col-acc2-0:#f6d912;
    --col-acc2-1:#503a65;
    --col-acc2-2:#292a73;
    --col-acc2-3:#ddacf5;
    --col-acc2-4:#edd2cb;
    --col-acc2-5:#f8aa4b;
    --col-acc2-6:#e4eaff;
    --col-acc2-7:#f9c46b;
    --col-acc2-8:#1ac0c6;
}
*, *::before {
    box-sizing:border-box;
    margin:0;
}

html {
    font-size:32px;
    color:white;
    height:100%;
    font-family:roboto, sans-serif;
}

body {
    position:relative;
    height:100%;
}

a {
    text-decoration: none;
    color:white;
}
/*==============================*/

/*===============animation================*/
@keyframes bouncy {
    0% {
        padding:0;
    }
    20% {
        padding:1.5rem 0 1.5rem 0;
    }
    38% {
        padding:0;
    }

    56% {
        padding:0.75rem 0 0.75rem 0;
    }

    72% {
        padding:0;
    }

    88% {
        padding:0.25rem 0 0.25rem 0;
    }

    100% {
        padding:0;
    }
}

@keyframes bouncy2 {
    0% {
        padding:0;
    }
    20% {
        padding:1.5rem;
    }
    38% {
        padding:0;
    }

    56% {
        padding:0.75rem;
    }

    72% {
        padding:0;
    }

    88% {
        padding:0.25rem;
    }

    100% {
        padding:0;
    }
}

@keyframes expand {
    0% {
        top:50%;
        left:50%;
        height:0;
        width:0;

    }

    100% {
        top:0;
        left:0;
        height:100%;
        width:100%;
    }
}

/*===============================*/

/*=============backdrop/expanding div==================*/
#backAnim {
    position:absolute;
    height:10px;
    width:10px;
}

#backdrop {
    position:relative;
    height:100vh;
    width:100vw;

    display:flex;
    align-items:center;
    justify-content: center;
    overflow:hidden;
}
/*===============================*/

/*==============quote box=================*/
#quote-box {
    position:relative;
    z-index:2;
    width:100%;
    box-sizing:content-box;
    min-height:12rem;
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    max-width:24rem;
    
}

/*-------------text content-----------------*/

#contQuote {
    margin:1rem;
}

#hashtags {
    filter:brightness(90%);
    font-size:0.5rem;
    margin-bottom:0.5rem;
}
#hashtags li {
    display:inline-block;
    margin:0 0.1rem 0 0.1rem;
}

#text {
    margin-bottom:1rem;
    font-size:1.25rem;
}
#author {

    text-align: right;
    font-size:0.75rem;
}

/*------------------------------*/

/*--------------buttons----------------*/
#contButton {
    margin:1rem;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
}
.disableButton {
    border:none;
    border-radius:0.25rem;
    padding:0.25rem;
    background-color:grey;

    cursor:not-allowed;
}
.button {
    display:block;
    border:none;
    cursor: pointer;
    border-radius:0.25rem;
    padding:0.25rem;
    text-align: center;
}

.button:hover {
    filter:brightness(150%);
}
.button:active {
    filter:brightness(75%);

}
#tweet-quote {
    height: 1.75rem;
    width:1.75rem;
    font-size:1.25rem;

}
#new-quote {
    height:1.75rem;
    width:5rem;
    font-size:0.75rem;

}

/*------------------------------*/

/*============================*/

/*==============loading==============*/
.large {
    height:6rem;
    width:6rem;
}

.small {
    height:1.25rem;
    width:1.25rem;
}

.centered {
    display:block;
    margin:0 auto;
}
/*============================*/
/*===============media queries=============*/
@media only screen and (min-width:769px) {
    #quote-box {
        border-radius:0.5rem;
    }
}
/*============================*/
